* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg,#d0694a, #0c53a6);
}
h1 {
    color: #050bb7;
    text-shadow: 0 0 5px #ff0000;
    /* text-shadow: 2px 2px 5px red; */
    font-family: "JetBrains Mono", monospace;
    font-weight: bolder
}
.carousel-container {
    display: flex;
    align-items: center;
    gap: 1em;
    /* margin: auto; */
    padding: 20px;
}
.carousel {
    width: 350px;
    height: 450px;
    border-radius: 15px;
    outline: 4px solid #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.69);
    /* box-shadow: 0 10px 30px rgba(255, 255, 255, 0.69); */
    transition: transform 0.5s ease;
}
.carousel:hover {
    transform: scale(1.05);
}
.carousel img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 15px;
    /* transition: transform .3s ease-out; */
    /* animation: slideIn 0.4s ease-in; */
}
/* @keyframes slideIn {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(30px);
        opacity: 0;
    }
} */
button {
    background: #fff;
    color: #0c53a6;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    align-self: center;
    font-weight: bold;
    font-family: "JetBrains Mono", monospace;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 8em;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.69);
    /* display: inline-block; */
    border-radius: 50px;
}
button:hover {
    background: #000;
    color: white;
    transform: translateY(-3px);
}
button:active {
    transform: scale(0.95);
}


@media (max-width: 600px) {
    .carousel-container {
        flex-direction: column;
        gap: 1.5em;
    }
    .carousel {
        width: 300px; 
        height: 400px;
    }
    button {
        width: 100%;
        order: 2;
    }
    .back-btn { order: 2; }
    .next-btn { order: 3; }
    .carousel { order: 1; }
}